.busy{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background: rgba(255,255,255,.7);

    &__icon {
        font-size: 50px;
        display: block;
        position: relative;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
    }
}
