
.create-payment {
    &__users {
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        margin: 0 -16px;
        max-height: 175px;
        overflow-y: auto;
    }
    &__user{
        margin: 0;
        padding-left: 10px;
        &-selected {
            background-color: red;
        }
    }
}