<mdl-layout md>
  <mdl-layout-header mdl-layout-header-transparent>
    <mdl-layout-header-row>
      <mdl-textfield type="text" placeholder="search"></mdl-textfield>
      <mdl-layout-title *ngIf="currentGroup">
        {{currentGroup.title}} {{users.length}} members
      </mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>

      <ft-payments-filters *ngIf="currentGroup" [group]="currentGroup.id" (change)="onFilterChange($event)">
      </ft-payments-filters>
      <mdl-layout-spacer></mdl-layout-spacer>

      <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
      </button>

    </mdl-layout-header-row>

  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>
      <mdl-icon>
        person
      </mdl-icon>

    </mdl-layout-title>
    <mdl-layout-title *ngIf="currentUser">
      {{currentUser.username}} -3322
    </mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['/layout/l1']">Link 1</a>
      <a class="mdl-navigation__link" [routerLink]="['/layout/l2']">Link 2</a>
      <a class="mdl-navigation__link" (click)="logout()">Logout</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--2">
        <div [ngBusy]="groupsBusy"></div>
        <ft-group-list [groups]="groups" (select)="onGroupSelect($event)"></ft-group-list>
      </div>
      <div class="md-cell md-cell--10">
        <ft-payments-list
        (toClick)="onUserFilterChange($event,'to')"
        (fromClick)="onUserFilterChange($event,'from')">
        </ft-payments-list>
        <div [ngBusy]="paymentsBusy"></div>
      </div>
    </div>
    <ft-create-payment *ngIf="currentGroup" (complete)="createPayment($event)" [users]="users">
    </ft-create-payment>
  </mdl-layout-content>
</mdl-layout>
<mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
  <mdl-menu-item mdl-ripple>Some Action</mdl-menu-item>
  <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Another Action</mdl-menu-item>
  <mdl-menu-item mdl-ripple disabled>Disabled Action</mdl-menu-item>
  <mdl-menu-item>Yet Another Action</mdl-menu-item>
</mdl-menu>
