<mdl-layout md>
  <mdl-layout-header mdl-layout-header-transparent>
    <mdl-layout-header-row>
      <ft-search></ft-search>
      <mdl-layout-title *ngIf="isCurrentGroupSelected()">
        {{currentGroup.title}} {{users.length}} members
      </mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>

      <ft-payments-filters *ngIf="isCurrentGroupSelected()" [group]="currentGroup.id" (change)="onFilterChange($event)">
      </ft-payments-filters>
      <mdl-layout-spacer></mdl-layout-spacer>
      <ft-create-payment *ngIf="isCurrentGroupSelected()" (complete)="onCreatePaymentComplete($event)" [users]="users">
      </ft-create-payment>
      <button *ngIf="isCurrentGroupSelected()" mdl-button #extermalMenuBtn="mdlButton" (click)="groupExternalMenu.toggle($event, extermalMenuBtn)" mdl-button-type="icon" mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
      </button>

    </mdl-layout-header-row>

  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title *ngIf="currentUser">
      <ngx-avatar [name]="currentUser.username"></ngx-avatar>
      {{currentUser.username}} -3322
    </mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Create Group</a>
      <a class="mdl-navigation__link" (click)="logout()"  href="">Logout</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <div [ngBusy]="groupsBusy"></div>
        <ft-group-list [groups]="groups" (select)="onGroupSelect($event)"></ft-group-list>
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        <ft-payments-list
        (toClick)="onUserFilterChange($event,'to')"
        (fromClick)="onUserFilterChange($event,'from')">
        </ft-payments-list>
        <div [ngBusy]="paymentsBusy"></div>
      </div>
    </div>

  </mdl-layout-content>
</mdl-layout>
<mdl-menu #groupExternalMenu="mdlMenu"  mdl-menu-position="bottom-right">
  <mdl-menu-item mdl-ripple>Invite User</mdl-menu-item>
  <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Generate invite link</mdl-menu-item>
</mdl-menu>
