:host(){
    height: 100vh;
}

.mdl-layout__drawer-button{
    margin: 1px;
    background: black;  
}

.mdl-layout__header{
    background-color: rgba($color: steelblue, $alpha: 0.6);
    height: 50px;
    min-height: 50px;
    &-row{
        height: 50px;
    }
}
.mdl-grid{
    padding: 0;
}
.mdl-cell{
    margin: 0;
}


