<ft-textfield *ngIf="!isReadOnly" type="text" #search label="Search for location">
</ft-textfield>
<agm-map [latitude]="config.latitude" [longitude]="config.longitude" [scrollwheel]="false" (mapDblClick)="onMapClick($event)"
    [disableDefaultUI]="false" [zoomControl]="true" [draggable]="false" [zoom]="config.zoom">
    <agm-marker [latitude]="config.marker?.latitude" [markerDraggable]="!isReadOnly" (dragEnd)="onMarkerDragEnd($event)" [longitude]="config.marker?.longitude">
    </agm-marker>
</agm-map>