<ng-template #chooseUsersDialog>
    <h6 class="mdl-dialog__title">Select Users</h6>
    <mdl-textfield type="text" label="input filter" [(ngModel)]="search"> </mdl-textfield>
        <ul class="create-payment__users">
            <li class="create-payment__user" [ngClass]="{'create-payment__user-selected' : isUserSelected(user.id)}" *ngFor="let user of users | searchBy : search : 'username'">
                <ft-checkbox [checked]="isUserSelected(user.id)" (change)="onCheckboxChange($event,user.id)">{{user.username}}</ft-checkbox>
            </li>
        </ul>
    <div class="mdl-dialog__actions">
        <button mdl-button mdl-button-type="raised" [disabled]="!model.usersTo || model.usersTo.length === 0" mdl-colored="primary" (click)="onChooseUserNext()"
            mdl-ripple>Next</button>
        <button mdl-button (click)="onCancel()" mdl-ripple>Cancel</button>
    </div>
</ng-template>

<ng-template #fillDataDialog>
    <h6 class="mdl-dialog__title">Fill data</h6>
    <ft-textfield #amount type="number" min="0" step="0.01" label="Enter amount" required pattern="[0-9]*(\.[0-9]+)?" errors="Input is not a number" floating-label
        [(ngModel)]="model.amount">
    </ft-textfield>
    <button mdl-button (click)="pickADate($event)" mdl-ripple>
        <mdl-icon>event</mdl-icon>
        <span>{{model.date}}</span>
    </button>
    <ft-textfield label="Description" #description required errors="Please, provide description"  [(ngModel)]="model.description" rows="3" maxrows="3" floating-label>
    </ft-textfield>
    <mdl-checkbox [mdl-ripple]="true" [(ngModel)]="model.shallIPayForMyself" *ngIf="!isOneUser">
        Shall i pay for my self
    </mdl-checkbox>
    <mdl-checkbox [mdl-ripple]="true" [(ngModel)]="isAllowToShowMap">
        Set location on map
    </mdl-checkbox>

    <div class="mdl-dialog__actions">
        <button mdl-button (click)="onCancel()" mdl-ripple>Cancel</button>
        <button mdl-button *ngIf="!isAllowToShowMap" mdl-button-type="raised" mdl-colored="primary" (click)="onComplete()" [disabled]="!amount.isValid || !description.isValid" mdl-ripple>Save</button>
        <button mdl-button *ngIf="isAllowToShowMap" (click)="onFillDataDialogNextClick()" mdl-ripple [disabled]="!amount.isValid || !description.isValid">Next</button>
        <button mdl-button (click)="onFillDataDialogPrevClick()" *ngIf="!isOneUser" mdl-ripple>Prev</button>
    </div>
</ng-template>

<ng-template #mapDialog>
        <h6 class="mdl-dialog__title">Chose location on map</h6>
        <ft-map
        (markerChanged)="onLocationChanged($event)"
        [isReadOnly]="false"
        [config]="mapOptions">
        </ft-map>
        <div class="mdl-dialog__actions">
                <button mdl-button (click)="onCancel()" mdl-ripple>Cancel</button>
                <button mdl-button mdl-button-type="raised" mdl-colored="primary" (click)="onComplete()" mdl-ripple>Save</button>
                <button mdl-button (click)="onMapDialogPrevClick()" mdl-ripple>Prev</button>
            </div>
</ng-template>
