<virtual-scroll *ngIf="isAllowToShowPayments()" #scroll [items]="payments" (update)="scroll.viewPortItems = $event"
    (end)="onListChange($event)">
    <ft-payment
      (deleteClick)="onDeletePayment($event)"
      (onFromClick)="onFromClick($event)"
      (onToClick)="onToClick($event)"
      *ngFor="let item of scroll.viewPortItems"
      [isReadonly]="isPaymentReadonly(item)"
      [payment]="item">
    </ft-payment>
    <mdl-progress *ngIf="isLoading" indeterminate="true"></mdl-progress>
</virtual-scroll>

<div class="debt-list" *ngIf="!isAllowToShowPayments()">
    <ft-debt *ngFor="let debt of payments" [debt]="debt"></ft-debt>
</div>

<ft-empty-message icon="credit-card" *ngIf="isAllowToShowEmptyMessage()" [actionText]="getActionText()" button-icon="shopping_cart" (action)="onCreatePaymentCLick()">
    {{getEmptyMessage()}}
</ft-empty-message>
