<button #createPaymentButton mdl-button mdl-button-type="fab" mdl-colored="accent" mdl-ripple (click)="chooseUsersDialog.show()">
    <mdl-icon>add</mdl-icon> 
</button>

<mdl-dialog #chooseUsersDialog [mdl-dialog-config]="{
  clickOutsideToClose: true,
  styles:{'width': '300px'},
  isModal:true,
  openFrom: createPaymentButton,
  enterTransitionDuration: 400,
  leaveTransitionDuration: 400}" >
    <h3 class="mdl-dialog__title">Select Users</h3>
    <mdl-select [(ngModel)]="selectedUsers" [multiple]="true" placeholder="Select users">
        <mdl-option mdl-ripple *ngFor="let u of users" [value]="u.id">{{u.username}}</mdl-option>
      </mdl-select>
    <div class="mdl-dialog__actions">
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
        <button mdl-button (click)="chooseUsersDialog.close()" mdl-ripple>Cancel</button>
    </div>
</mdl-dialog>

<ul>
    <li *ngFor="let i of selectedUsers">{{i}}</li>
</ul>