@import "../../../../assets/mixins.scss";
.payment-user {
    width: 150px;
    cursor: pointer;
    @include ellipsisText;

    @include phonePortraitMode {
      width:
    }

    &__username {
      margin-left: 15px;
      font-size: 16px;
      line-height: 2.3;
    }
}
