<div class="payment" mdl-shadow="2">
    <div class="payment__info">
        <div class="payment__info_main">
            <div class="payment__header">
                <p class="payment__description">{{payment.description}}</p>
                <p [amountColor]="payment.amount" class="payment__amount">{{payment.amount}}</p>
            </div>
            <div class="payment__users">
                <ft-payment-user [user]="payment.userFrom" [amount]="payment.amount"></ft-payment-user>
            </div>
            <div class="payment__users">
                <ft-payment-user [user]="payment.userTo" [amount]="0.00"></ft-payment-user>
            </div>
        </div>
        <div class="payment__info_additional">
            <div class="payment__date">{{payment.timestamp | date}}</div>
        </div>
    </div>
    <div class="payment__more-toggle">
        More
    </div>
</div>
