.right-menu {
  background-color: rgb(240, 255, 255);
  height: 100vh;
  &__title {
    padding: 5px;
    background-color: rgb(38, 119, 127);
  }

  &__avatar {
    display: flex;
    justify-content: center;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
  }

  &__name {
    color: white;
  }

  &__debt {
    color: rgb(0, 255, 42);
    font-weight: 700;
  }

  &__navigation {
    list-style: none;
    font-size: 20px;
    line-height: 3;
    padding-left: 0;
    &-item {
      padding-left: 10px;
      cursor: pointer;
    }
    &-item:hover{
      background-color: rgb(211, 248, 248);
    }
  }
}
