.payment-list{
    background-color: #EAFFFF;
    max-height: calc(100vh - 50px);
    overflow: auto;
}
// virtual-scroll {
//   display: block;
//   width: 100%;
//   height: calc(100vh - 50px);
// }
