.frame {
  max-width: 1008px;
  border: none;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-style: italic;
  text-indent: 1.5em;
  text-align: justify;
  width: auto;
  display: table;
}
