<div class="center-items frame">
  <blockquote>
    You fortuitously opened the door been inviolable over the centuries.
    Flowing blue light is imbuing you with thrilling desire to stay, old-fashioned honied flavor awakens latent inclinations deep inside you.
    Having been considered yourself customary for entire life, you are dumbfound by sudden splash of passion.
    Your brain is relentlessly trying to escape, but your body have already chosen your delight of eternity.
    Lose 3 sanity.
  </blockquote>
  <img class="img-center" src="assets/img/IMG_1003.JPG" width="1008" height="756" alt="Couple">
  <a href="/">
    <blockquote>Then flip this card.</blockquote>
  </a>
</div>
