<form class="form-horizontal" role="form" [formGroup]="authForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>{{title}}</h2>
      <hr>
    </div>
  </div>
  <p class="text-xs-center">
    <a [routerLink]="['/login']" *ngIf="authType === 'register'">Have an account?</a>
    <a [routerLink]="['/register']" *ngIf="authType === 'login'">Need an account?</a>
  </p>
  <app-list-errors [errors]="errors"></app-list-errors>
  <ul>
    <li *ngFor="let error of authForm.errors">
      error
    </li>
  </ul>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group has-danger">
        <label class="sr-only" for="user-name">Login</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          <input type="text" formControlName="username" name="user-name" class="form-control" id="user-name" placeholder="Login" autofocus>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="authType === 'register'">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group has-danger">
        <label class="sr-only" for="phone">Phone</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
          <input type="text" formControlName="phone" name="phone" class="form-control" id="phone" placeholder="Phone">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
          <input type="password" formControlName="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 1rem">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <button type="submit" [disabled]="!authForm.valid" class="btn btn-success"><i class="fa fa-sign-in"></i>  Submit</button>
      <button type="button" class="btn btn-secondary" *ngIf="loading" disabled>
      <i class="fa fa-refresh fa-spin fa-fw"></i>
        
      </button>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</form>