@import "./variables.scss";
// .mdl-dialog__title {
//     text-align: center;
//     font-size: 1.4rem;
//     padding: 14px 14px 0;
// }

.mdl-textfield.ng-invalid {
  .mdl-textfield__input {
    border-color: $color-danger;
  }
  label.mdl-textfield__label {
    color: $color-danger;
    &::after {
      background-color: $color-danger;
    }
  }
  span.mdl-textfield__error {
    visibility: visible;
  }
  &.ng-pristine {
    .mdl-textfield__input {
      border-color: $color-input-valid;
    }
    label.mdl-textfield__label {
      color: $color-input-valid;
      &::after {
        background-color: $color-input-valid;
      }
    }
    span.mdl-textfield__error {
      visibility: hidden;
    }
  }
}

// .mdl-layout__drawer {
//     border: none;
//     box-shadow: none;
//     background-color: $color-groups-background;
//     &-button {
//         color: white;
//     }
// }

// .mdl-layout__header {
//     background-color: $color-header;;
// }

// .mdl-button--accent.mdl-button--accent {
//     color: white;
//     &.mdl-button--raised {
//         background-color: $color-payments-background;
//         color: $color-header;
//     }
// }

.avatar-container {
  display: inline-block;
}

.mdl-layout__drawer {
  border: none;
  .mdl-navigation .mdl-navigation__link {
    display: inherit;
    padding: 10px;
  }
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0;
}
.mdl-list__item {
  padding-left: 5px;
}
