@import './variables.scss';
@import '~@angular-mdl/core/scss/material-design-lite';
@import '~@angular-mdl/datepicker/datepicker';

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";


.mdl-dialog__title {
    text-align: center;
    font-size: 1.4rem;
    padding: 14px 14px 0;
}

.mdl-textfield.ng-invalid {
    .mdl-textfield__input {
        border-color: $color-danger;
    }
    label.mdl-textfield__label {
        color: $color-danger;
        &::after {
            background-color: $color-danger;
        }
    }
    span.mdl-textfield__error {
        visibility: visible;
    }
    &.ng-pristine {
        .mdl-textfield__input {
            border-color: $color-input-valid;
        }
        label.mdl-textfield__label {
            color: $color-input-valid;
            &::after {
                background-color: $color-input-valid;
            }
        }
        span.mdl-textfield__error {
            visibility: hidden;
        }
    }
}


.mdl-button--accent.mdl-button--accent {
    color: white;
    &.mdl-button--raised {
        background-color: $color-payments-background;
        color: $color-header;
    }
}

.mdl-layout {
  max-width: 1200px;
  margin: 0 auto;

  &__drawer {
    border: none;
    box-shadow: none;
    background-color: $color-groups-background;

    &-button {
        color: white;
        margin: 1px 12px;
    }
  }

  &__header {
    background-color: $color-header;
  }
}
