@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,600,700');
@import './variables.scss';

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.center-items {
    justify-content: center;
}

.text-center{
    text-align: center;
}

.full-width{
    width: 100%;
}

.pac-container {
    z-index: 100002;
}

.xs-hide{
  @include phonePortraitMode{
    display: none;
  }
}

.xs-hide-r{
  @include phonePortraitMode{
    display: unset;
  }
}
