@import "~@angular-mdl/core/scss/color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;
$color-danger: #d50000;
$color-main: #00bacc;
$color-back: #E4FFFF;
$color-accent1: #006C99;
$color-accent2: #00B8A2;
$color-main-dark: #26777f;
