@import "~@angular-mdl/core/scss/color-definitions";

//MDL
$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;
//Inputs
$color-input-valid: rgb(33,150,243);
$color-danger: #fb0204;
//
$color-main: #2e87c1;
$color-back: #E4FFFF;
$color-accent1: #006C99;
$color-accent2: #00B8A2;
$color-main-dark: #2f363e;
//Groups list
$color-positive-balance: #39b449;
$color-negative-balance: $color-danger;
$color-zero-balance: yellow;
$color-groups-background: $color-main-dark;
$color-group-selected-background: blue;
$color-groups-text: white;
//Header
$color-header: $color-main;
//Payments
$color-payments-background: #E4FFFF;
$color-payments-description-text: #555d68;
//Empty
$color-empty-message-text: #00E8FF;
//Right-drawer
$color-right-drawer-user-info-background: rgb(38, 119, 127);
$color-right-drawer-user-name-text: white;
$color-right-drawer-user-name-debt: rgb(0, 255, 42);
$color-right-drawer-menu-background: rgb(240, 255, 255);
$color-right-drawer-menu-item-hover: rgb(211, 248, 248);
//Filters
$colort-filter-icons: black;
