<div *ngIf="!icon">
    <textarea
       *ngIf="rows"
       #input
       [rows]="rows"
       class="mdl-textfield__input"
       type="text"
       [attr.name]="name"
       [id]="id"
       [placeholder]="placeholder ? placeholder : ''"
       (focus)="onFocus($event)"
       (blur)="onBlur($event)"
       (keydown)="keydownTextarea($event)"
       (keyup)="onKeyup($event)"
       [(ngModel)]="value"
       [disabled]="disabled"
       [required]="required"
       [autofocus]="autofocus"
       [readonly]="readonly">
    </textarea>
    <input
       *ngIf="!rows"
       #input
       class="mdl-textfield__input"
       [type]="type"
       [attr.name]="name"
       [id]="id"
       [pattern]="pattern ? pattern : '.*'"
       [attr.min]="min"
       [attr.max]="max"
       [attr.step]="step"
       [placeholder]="placeholder ? placeholder : ''"
       [autocomplete]="autocomplete ? autocomplete : ''"
       (focus)="onFocus($event)"
       (blur)="onBlur($event)"
       (keyup)="onKeyup($event)"
       [(ngModel)]="value"
       [disabled]="disabled"
       [required]="required"
       [autofocus]="autofocus"
       [readonly]="readonly"
       [attr.tabindex]="tabindex"
       [maxlength]="maxlength">
    <label class="mdl-textfield__label" [attr.for]="id">{{label}}</label>
    <span class="mdl-textfield__error" *ngIf="!this.inputEl && !isValid">{{errors}}</span>
</div>
  <div *ngIf="icon">
     <button mdl-button mdl-button-type="icon" (click)="setFocus()">
        <mdl-icon>{{icon}}</mdl-icon>
     </button>
     <div class="mdl-textfield__expandable-holder">
      <input
         #input
         class="mdl-textfield__input"
         [type]="type"
         [attr.name]="name"
         [id]="id"
         [pattern]="pattern ? pattern : '.*'"
         [attr.min]="min"
         [attr.max]="max"
         [attr.step]="step"
         [placeholder]="placeholder ? placeholder : ''"
         [autocomplete]="autocomplete ? autocomplete : ''"
         (focus)="onFocus($event)"
         (blur)="onBlur($event)"
         (keyup)="onKeyup($event)"
         [(ngModel)]="value"
         [disabled]="disabled"
         [required]="required"
         [autofocus]="autofocus"
         [readonly]="readonly"
         [attr.tabindex]="tabindex"
         [maxlength]="maxlength"
        >
    <label class="mdl-textfield__label" [attr.for]="id">{{label}}</label>
    <span class="mdl-textfield__error">{{errors}}</span>
     </div>
  </div>