@import '../../../../assets/mixins.scss';
@import '../../../../assets/variables.scss';

.payment {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    padding: 10px;
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 100%;
        &_main {
            min-width: 60%;
            display: flex;
            flex-direction: column;
        }
        &_additional {
            min-width: 40%;
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            margin-left: 5px;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__users{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }

    &__arrow {
        font-size: 60px;
        line-height: .7;
    }

    &__more-toggle{
        text-align: center;
    }

    &__description {
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        color: $color-payments-description-text;
        @include ellipsisText;
    }

    &__amount {
        font-size: 20px;
        font-weight: 600;
    }

    &__date{
        font-size: 12px;
    }
}
