@import "../../../assets/variables.scss";
:host(){
  font-size: 16px;
  font-weight: 400;
}
.group-list{
  text-decoration: none;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 50px);
  overflow-y: auto;

  &__header {
    background-color: $color-main;
    height: 50px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding-left: 10px;
  }

  &__name {
    font-weight: 600;
    margin-top: 5px;
  }

  &__count {

  }
}
.group{
  display: flex;
  flex: 1 1 1;
  padding: 15px 15px; transition: background .6s;
  padding-left: 0;
  background-color: #008e9c;

  &:hover{
      background: $color-main;
      cursor: pointer;
  }

  &_selected{
      background-color: $color-main-dark;
  }

  &__name{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      color: white;
  }

  &__title{
      margin: 0 0 5px;
  }

  &__price{
      font-weight: 500;

      &_positive{
          color: green;
          &:before {
              content: '+';
          }
      }

      &_negative{
          color: red;
      }

      &_zero{
          color: yellow;
          &:before {
            content: '0';
        }
      }
  }
}
