@import "../../../assets/variables.scss";
@import "../../../assets/mixins.scss";

:host{
  position: relative;
  height: 100vh;
}

.group-list{
  &__header {
    background-color: $color-header;
    height: 50px;
    color: $color-groups-text;
  }

  &__name {
    font-weight: 600;
    margin-top: 5px;
  }

  &__count {

  }
}
.group{
  display: flex;
  padding: 15px 15px; transition: background .6s;
  @include ellipsisText;

  &:hover{
      cursor: pointer;
  }

  &_selected{
    background-color: $color-group-selected-background;
  }

  &__name{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      color: $color-groups-text;
  }

  &__title{
      margin: 0 0 5px;
  }

  &__price{
      font-weight: 500;

      &_positive{
          color: $color-positive-balance;
          &:before {
              content: '+';
          }
      }

      &_negative{
          color: $color-negative-balance
      }

      &_zero{
          color: black;
          &:after {
            content: '0';
        }
      }
  }
}
