<div class="group-list__header">
  <div *ngIf="!!currentGroup">
  <div class="group-list__name">{{currentGroup.title}}</div>
  <div class="group-list__count">36 members</div>
</div>
</div>
<ul class="group-list">
    <li *ngFor="let group of groups" class="group" [ngClass]="{'group_selected': group === currentGroup}" (click)="onSelect(group)">
        <ngx-avatar [name]="group.title"></ngx-avatar>
        <div class="group__name">
            <h5 class="group__title">{{group.title}}</h5>
            <span class="group__price" [ngClass]="{
                'group__price_negative':group.amount < 0,
                'group__price_positive':group.amount > 0,
                'group__price_zero':!group.amount
              }">
                {{group.amount}}
            </span>
        </div>
    </li>
</ul>
