<div class="host">
  <ft-groups-header [group]="selected$ | async"></ft-groups-header>
  <ul class="group-list">
    <li *ngFor="let group of (groups$ | async)">
      <ft-group [group]="group" [currentGroup]="selected$ | async"></ft-group>
    </li>
    <ft-empty-message *ngIf="(groups$ | async).length" icon="user" actionText="Create group" button-icon="group_add" (action)="showCreateGroupModal()">
      You don't have groups, please click button bellow to create one
    </ft-empty-message>
  </ul>
</div>
