<ft-busy #loading></ft-busy>

<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed #layout="mdlLayout">
  <mdl-layout-header>
    <!-- <mdl-layout-header-row> -->

      <!-- <mdl-layout-spacer></mdl-layout-spacer> -->

      <!-- <ft-payment-filters *ngIf="isCurrentGroupSelected()">
      </ft-payment-filters> -->
      <!-- <mdl-layout-spacer></mdl-layout-spacer> -->
      <!-- <button mdl-button mdl-ripple mdl-button-type="icon" *ngIf="isCurrentGroupSelected() && !responsive.isPhonePortraitMode()"
        (click)="createPayment.show()" title="Create payment">
        <mdl-icon>add</mdl-icon>
      </button>
      <button *ngIf="isCurrentGroupSelected()" mdl-button #extermalMenuBtn="mdlButton" (click)="groupExternalMenu.toggle($event, extermalMenuBtn)"
        mdl-button-type="icon" mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
      </button> -->
      <!-- <button mdl-button (click)="rightDrawer.show()" mdl-button-type="icon" mdl-ripple>
        <mdl-icon>keyboard_tab</mdl-icon>
      </button> -->
    <!-- </mdl-layout-header-row> -->

  </mdl-layout-header>
  <!-- <mdl-layout-drawer #leftDrawer>
    <ft-group-list [groups]="groups" (select)="onGroupSelect($event);" (createGroupClick)="onCreateGroupClick()"></ft-group-list>
  </mdl-layout-drawer> -->

  <mdl-layout-content>
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--12-col">
        <ft-payments>
        </ft-payments>
        ssss
      </div>
    </div>

  </mdl-layout-content>
</mdl-layout>
<!-- <ft-right-drawer #rightDrawer>
  <ft-right-menu [user]="user" (createGroupClick)="onCreateGroupClick()" (logoutClick)="logout()"></ft-right-menu>
</ft-right-drawer> -->
<!-- <mdl-menu #groupExternalMenu="mdlMenu" mdl-menu-position="bottom-right">
    <mdl-menu-item (click)="onEditGroupClick($event)">
      Edit group
    </mdl-menu-item>
  <mdl-menu-item *ngIf="responsive.isPhonePortraitMode()" (click)="createPayment.show()">
    Create payment
  </mdl-menu-item>
  <mdl-menu-item mdl-ripple ngxClipboard [cbContent]="generateInvite()" (cbOnSuccess)="onGenerationgSuccess()" (cbOnError)="onGenerationError()">
    Generate invite link
  </mdl-menu-item>
</mdl-menu> -->
<ft-manage-group #createGroup (complete)="onManageGroupComplete($event)"></ft-manage-group>
<ft-create-payment-modal #createPayment (complete)="onCreatePaymentComplete($event)">
</ft-create-payment-modal>
