<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <ft-search></ft-search>
      <mdl-layout-title *ngIf="isCurrentGroupSelected()">
        {{users.length}} members
      </mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>

      <ft-payment-filters *ngIf="isCurrentGroupSelected()">
      </ft-payment-filters>
      <mdl-layout-spacer></mdl-layout-spacer>
      <button mdl-button mdl-ripple *ngIf="isCurrentGroupSelected()" (click)="createPayment.show()" title="Create payment">
        <mdl-icon>add</mdl-icon>
      </button>
      <button *ngIf="isCurrentGroupSelected()" mdl-button #extermalMenuBtn="mdlButton" (click)="groupExternalMenu.toggle($event, extermalMenuBtn)" mdl-button-type="icon" mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
      </button>

    </mdl-layout-header-row>

  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title *ngIf="currentUser">
      <ngx-avatar [name]="currentUser.username"></ngx-avatar>
      {{currentUser.username}} {{currentUser.debt}}
    </mdl-layout-title>
    <nav class="mdl-navigation">
      <button class="mdl-navigation__link" (click)="createGroup.dialog.show()">Create Group</button>
      <button class="mdl-navigation__link" (click)="logout()"  href="">Logout</button>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--3-col">
        <div [ngBusy]="groupsBusy"></div>
        <ft-group-list [groups]="groups" (select)="onGroupSelect($event)"></ft-group-list>
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        <ft-payments *ngIf="isCurrentGroupSelected()">
        </ft-payments>
      </div>
    </div>

  </mdl-layout-content>
</mdl-layout>
<mdl-menu #groupExternalMenu="mdlMenu"  mdl-menu-position="bottom-right">
  <mdl-menu-item mdl-ripple>Invite User</mdl-menu-item>
  <mdl-menu-item mdl-ripple
  ngxClipboard
  [cbContent]="generateInvite()"
  (cbOnSuccess)="onGenerationgSuccess()"
  (cbOnError)="onGenerationError()">
  Generate invite link</mdl-menu-item>
</mdl-menu>
<ft-create-group #createGroup (complete)="updateGroupsList()"></ft-create-group>
<!-- <ft-create-payment-modal #createPayment (complete)="onCreatePaymentComplete($event)" [users]="users"> -->
<!-- </ft-create-payment-modal> -->
